<p>Bem-vindo ao <strong>Kitsune Finance</strong>, <%= @email %>!</p>

<p>Você pode confirmar sua conta através do link abaixo:</p>

<p style="text-align: center;">
  <%= link_to "Confirmar minha conta", confirmation_url(@resource, confirmation_token: @token), class: "btn" %>
</p>
