<p>Olá <strong><%= @resource.email %></strong>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Seu e-mail do Kitsune Finance está sendo alterado para: <strong><%= @resource.unconfirmed_email %></strong>.</p>
<% else %>
  <p>Seu e-mail do Kitsune Finance foi alterado para: <strong><%= @resource.email %></strong>.</p>
<% end %>
