<p>Olá <strong><%= @resource.email %></strong>!</p>

<p>Alguém solicitou um link para alterar sua senha. Você pode fazer isso através do link abaixo:</p>

<p style="text-align: center;">
  <%= link_to "Redefinir minha senha", edit_password_url(@resource, reset_password_token: @token), class: "btn" %>
</p>

<p>Se você não solicitou esta alteração, ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>
