<p>Olá <strong><%= @resource.email %></strong>!</p>

<p>Sua conta do Kitsune Finance foi bloqueada devido a múltiplas tentativas de login inválidas.</p>

<p>Clique no link abaixo para desbloquear sua conta:</p>

<p style="text-align: center;">
  <%= link_to "Desbloquear minha conta", unlock_url(@resource, unlock_token: @token), class: "btn" %>
</p>
